<ng-form name="form.changePasswordForm" class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>{{ 'modals_changePasswordModal_title' | trans }}</strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="modals_changePasswordModal_save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="modals_changePasswordModal_cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <div class="row">
        <div class="form-group col-sm-5" sc-has-error="oldPassword">
          <label class="control-label">{{ 'modals_changePasswordModal_oldPassword' | trans }}</label>
          <sc-validation-error field-name="oldPassword" validations="{correctPassword: 'modals_changePasswordModal_wrongPassword', minlength: 'modals_changePasswordModal_passMustBeMin8symbols', required: 'default'}"></sc-validation-error>
          <input type="password" ng-model="passwords.oldPassword" name="oldPassword" ng-required="true" ng-minlength="8" sc-validate="{ correctPassword: checkPassword }" sc-validate-immediate="true" class="input-sm form-control" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-5" sc-has-error="newPassword">
          <label class="control-label">{{ 'modals_changePasswordModal_newPassword' | trans }}</label>
          <sc-validation-error field-name="newPassword" validations="{minlength: 'modals_changePasswordModal_passMustBeMin8symbols', required: 'default'}"></sc-validation-error>
          <input type="password" ng-model="passwords.newPassword" name="newPassword" ng-required="true" ng-minlength="8" class="input-sm form-control" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-5" sc-has-error="confirmNewPassword">
          <label class="control-label">{{ 'modals_changePasswordModal_confirmNewPassword' | trans }}</label>
          <sc-validation-error field-name="confirmNewPassword" validations="{passwordMatch: 'modals_changePasswordModal_noPasswordMatch', minlength: 'modals_changePasswordModal_passMustBeMin8symbols', required: 'default'}"></sc-validation-error>
          <input type="password" ng-model="confirmNewPassword" name="confirmNewPassword" ng-required="true" ng-minlength="8"
            sc-validate="{ passwordMatch: matchPasswords }" sc-validate-immediate="true" class="input-sm form-control" />
        </div>
      </div>
    </div>
  </div>
</ng-form>